Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
DerivePointerAlignment: false
PointerAlignmentStyle: Left
AlignArrayOfStructures: Left
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
PackConstructorInitializers: Never
AllowAllArgumentsOnNextLine: true
AlignOperands: DontAlign
BinPack: false
BinPackArguments: true
BinPackParameters: true
ConstructorInitializerIndentWidth: 0
AlignAfterOpenBracket : BlockIndent